<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba8aa8">  <td>19/04/23 09:23:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstPro.scribd(java.lang.String, java.lang.String)[pri:0, instance:com.pro.app.FirstPro@548b7f67]">scribd</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>19/04/23 09:23:38</td>   <td>10352</td> <td>&nbsp;</td><td title="&lt;&lt;FirstPro.teardowne()[pri:0, instance:com.pro.app.FirstPro@548b7f67]">&lt;&lt;teardowne</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
</table>
