<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9aa8b">  <td>19/04/22 19:48:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstPro.scribd(java.lang.String, java.lang.String)[pri:0, instance:com.pro.app.FirstPro@573f2bb1]">scribd</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>19/04/22 19:48:57</td>   <td>27094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="First_Test.Fist_Test()[pri:0, instance:com.pro.app.First_Test@5ae9a829]">Fist_Test</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/04/22 19:48:57</td>   <td>27096</td> <td>&nbsp;</td><td title="&lt;&lt;FirstPro.teardowne()[pri:0, instance:com.pro.app.FirstPro@573f2bb1]">&lt;&lt;teardowne</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
</table>
